---
# Secret for SMB credentials
# See: kubernetes/apps/media-stack/secrets/smb-credentials-secret.yaml.template
# Or create directly:
# kubectl create secret generic smb-credentials \
#   --from-literal=username=media-user \
#   --from-literal=password=yourpassword \
#   -n media

---
# SMB PersistentVolume for movies
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-movies
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-movies-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-movies"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-movies
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  volumeName: smb-media-movies
  storageClassName: ""

---
# SMB PersistentVolume for TV shows
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-tvshows
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-tvshows-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-tvshows"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-tvshows
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  volumeName: smb-media-tvshows
  storageClassName: ""

---
# SMB PersistentVolume for music
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-music
spec:
  capacity:
    storage: 200Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-music-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-music"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-music
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
  volumeName: smb-media-music
  storageClassName: ""

---
# SMB PersistentVolume for downloads
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-downloads
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-downloads-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-downloads"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-downloads
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: smb-media-downloads
  storageClassName: ""

---
# SMB PersistentVolume for books (ebooks/audiobooks)
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-books
spec:
  capacity:
    storage: 200Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-books-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-books"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-books
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
  volumeName: smb-media-books
  storageClassName: ""

---
# SMB PersistentVolume for ROMs (retrogaming)
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-media-roms
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - noperm
    - mfsymlinks
    - cache=strict
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: smb-media-roms-handle
    volumeAttributes:
      source: "//srv05.mosca.lan/media-roms"
    nodeStageSecretRef:
      name: smb-credentials
      namespace: media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-roms
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  volumeName: smb-media-roms
  storageClassName: ""
