---
# Mullvad VPN Secret Template
# Copy this file and fill in your Mullvad account number
# cp mullvad-vpn-secret.yaml.template mullvad-vpn-secret.yaml
#
# Get your account number from: https://mullvad.net/account
apiVersion: v1
kind: Secret
metadata:
  name: mullvad-vpn
  namespace: media
type: Opaque
stringData:
  account-number: "REPLACE_WITH_YOUR_MULLVAD_ACCOUNT_NUMBER"  # Format: 1234567890123456
